.column {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 97vh;
}

.column-t {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.column > * {
    margin: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
}

.hidden {
    display: none;
}

img.lamp {
  height: 122px;
  margin: 0 10px;
}
span.lamp {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
